<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${review.title}">Review</title>
</head>
<body>
	<header>
		<h1 th:text="${review.title}">Review</h1>
			<nav>
				<ul>
					<li><a href="/reviews">Reviews</a></li>
				</ul>
			</nav>		
		</header>
		<main>
			<h3 th:text="${review.title}">Title</h3>
			<img th:src="@{|/images/${review.image}|}" alt="Sleeping Spot" style="width:300px;height:300px">
			<h4 th:text="${review.category}">Category</h4>
			<p th:text="${review.content}">Content</p>
		</main>
</body>
</html>